/*
Theme Name: WPChef
Theme URI: http://www.vonnah.com
Description: Personal Chef site
Author: eS
Author URI: http://www.vonnah.com
Version: 1.0
Tags: responsive, bootstrap, chef, food

License: type
License URI: http://www.this

comments
*/

@import url('bootstrap/css/bootstrap.css');
@import url('bootstrap/css/bootstrap-responsive.css');
body {
	padding-top: 60px;
	padding-bottom: 40px;
}